h1{
    font-family: 'Abril Fatface', cursive;
    font-size: 80px;
    color: aliceblue;


}

#search-input{
    border-radius: 20px; /* Rounded corners */
    height: 20px;
    width: 180px;
    padding: 10px;

}

.search-container{
    height: 200px;
    width: 300px;
    display: flex;
    padding: 40px;
    margin: auto auto 200px;

}

body{
    background-image: url("https://media.tenor.com/sQDz_xy06NMAAAAC/magic-stars.gif");
}

.search-result{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 200px;

}

.photo {

    max-width: 100%; /* Adjust the width as needed */
    height: auto; /* Maintain the aspect ratio */
    margin: 30px; /* Add margin to create spacing between photos */
    border: 1px solid #ccc; /* Add a border around each photo */
    border-radius: 5px; /* Add rounded corners to the border */
}


.button{
    margin-bottom: 100px;
    padding: 10px 10px; /* Add padding for button styling */
    background-color: #063a73; /* Button background color */
    color: #fff; /* Text color */
    border: none;
    border-radius: 20px;
    cursor: pointer;
    display: none;


}

.button:hover{
    background-color: midnightblue;
}



#search-button{
    border-radius: 20px; /* Rounded corners */
    padding: 10px;
}


#search-button:hover{
    background-color: dimgrey;
}
#search-results {
    width: 100%; /* Make the container expand to the available width */

}

#prev {
    float: left; /* Set the order of the "Previous" button to 1 (left) */
}

#next {
    float: right; /* Set the order of the "Next" button to 2 (right) */
}


/* Add this to your CSS */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #cccccc;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
